.nav {
    font-size: calc(15px + 2vmin);
    background-color: #fbfbfb;
    color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 0 50px;
    padding-bottom: 5px;
    border-bottom: solid 2px black;
  }
  
  .logo-style {
    font-size: calc(20px + 2vmin)
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .nav li.active {
    color: rgb(153, 156, 156);
    text-decoration-style: bold;
    
  }
  
  .nav li:hover {
    color: rgb(106, 106, 249);
  }